@import 'common.scss';

.log-container {
    overflow-y: scroll;
    max-height: 100%;
    display: flex;
    padding: 4px;
}

.log-line {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    font-family: monospace;
    white-space: pre-wrap;
}

.logs-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; // keeps the header fixed, scroll stays in log-container
}

.logs-header {
    display: flex;
    justify-content: center;
}
