@import '~bootstrap/scss/bootstrap';

html,
body,
#root {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #fff;
}

.small {
    font-size: 0.8rem !important;
}

.progress {
    width: 100%;
}

.background {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        backdrop-filter 0.15s ease-in-out;
}

.btn-transparent {
    --bs-btn-bg: #ffffff00;
    --bs-btn-border-color: #ffffff00;

    --bs-btn-hover-bg: #ffffff3a;
    --bs-btn-hover-border-color: #ffffff00;

    --bs-btn-active-bg: #ffffff10;
    --bs-btn-active-border-color: #ffffff10;

    &:hover {
        backdrop-filter: blur(6px);
    }

    &.dropdown-toggle::after {
        color: white;
    }

    & ~ .dropdown-menu {
        backdrop-filter: blur(4px) brightness(80%);
        box-shadow: 4px 7px 14px 0.1rem rgb(0 0 0 / 50%);

        --bs-dropdown-bg: rgba(0, 0, 0, 0.05);
        --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);

        z-index: 99999;
        overflow-y: auto;
        max-height: 50vh;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.smooth-background-down {
    background: linear-gradient(#1e1e1e, rgba(0, 0, 0, 0));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.smooth-background-up {
    background: linear-gradient(rgba(0, 0, 0, 0), #1e1e1e);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: content-box;
}
