html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-grow {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
